<tr>
    <td width="15%">{{ID}}</td>
    <td width="25%">{{FECHA_PEDIDO}}</td>
    <td width="25%">{{VALOR_PEDIDO}}</td>
     <td width="15%"><img src="public/images/{{ESTADO}}.png"</td>
    <td width="20%">
        <div class="btn-group">
            <button type="button" class="btn btn-warning">Opciones</button>
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"  onclick="cargarVentana({{ID}})"  data-toggle="modal" data-target="#myModal"><img src="public/images/ver.png"> Ver detalles</a></li>
                {{SUBIR_COMPROBANTE}}
            </ul>
        </div>
    </td>
</tr>