<div class="container banner">
    <div class="row">
        <div class='col-md-4'>
            <img class="img-responsive" src="public/images/banner1.jpg"/>
        </div>
        <div class='col-md-6 banner_right'>
            <h1>MiCITio </h1>
            <h2>Cúcuta</h2>
            <p>Es un sitio web que se encarga de realizar  un seguimiento a las acciones realizadas por las empresas de la ciudad</p>
            <a class="banner_btn" href="">Ver más</a>
        </div>
    </div>
</div>
<br>

<div class="main">
    <div class='container content_top'>
        <div class='row'>
            <div class="col-md-4 flag_grid">
                <img class="img-responsive" src="public/images/idea.png"/>
                <div class="flag_desc">
                    <h3><a href="index.php?mode=agregar-diagnostico-idea">Diagnóstico de la idea</a></h3>
                    <p>Realice el diagnóstico de su idea de negocio.</p>
                    <a href="index.php?mode=agregar-diagnostico-idea" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 flag_grid">

                <img class="img-responsive" src="public/images/empresa.png"/>
                <div class="flag_desc">
                    <h3><a href="index.php?mode=agregar-diagnostico-empresa">Diagnóstico de la empresa</a></h3>
                    <p>Realice el diagnóstico de <br>su empresa.</p>
                    <a href="index.php?mode=agregar-diagnostico-empresa" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="public/images/plan.png"/>
                <div class="flag_desc">
                    <h3><a href="index.php?mode=agregar-plan-accion">Plan de acción</a></h3>
                    <p>Realice el plan de accón que va tener dicha empresa o idea.</p>
                    <a href="index.php?mode=agregar-plan-accion" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br>
