<div class="container banner">
    <div class="row">
        <div class='col-md-4'>
            <img class="img-responsive" src="public/images/logo-somar.png"/>
        </div>
        <div class='col-md-6 banner_right'>
            <h1>SOMAR </h1>
            <h2>Tienda Virtual</h2>
            <p>Bienvenido al administrador de la tienda virtual SOMAR</p><br><br>
        </div>
    </div>
</div>
<br>

<div class="main">
    <div class='container content_top'>
        <div class='row'>
            <div class="col-md-4 flag_grid">
                <img class="img-responsive" src="public/images/codigo-de-barras.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Producto</a></h3>
                    <p>En esta sección podra visualizar, editar y eliminar productos.</p>
                    <a href="#" class="link">Agregar Producto</a>
                     <a href="#" class="link">Administrar Productos</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 flag_grid">

                <img class="img-responsive" src="public/images/lista.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Categorias</a></h3>
                    <p>En esta sección podra visualizar, editar y eliminar categorias.</p>
                    <a href="#" class="link">Agregar Categoria</a>
                    <a href="#" class="link">Adiministrar Categorias</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="public/images/carrito-compra.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Ventas</a></h3>
                    <p>Visualiza todas las ventas realizas y en progreso de la tienda virtual.</p>
                    <a href="#" class="link">Realizadas</a><br>
                    <a href="#" class="link">En Progreso</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br>
