<!-- incluir css de dataTables -->
<link href="public/css/jquery.dataTables.min.css">
<link href="public/css/datatables.css" type="text/css" rel="stylesheet">
<div class="container banner">
    <section class="title-section">
        <h1 class="title-header">
            Ventas realizadas </h1>
        <ul class="breadcrumb breadcrumb__t">
            <li><a href="index.php">Inicio</a></li>
            <li class="active">Ventas realiadas </li>
        </ul>
    </section>
</div>
<div class='container contact'>
    <div class="main">
        <br>
        <div class="row">
            <div class="col-md-6">
                <p style='font-weight: bold;'>Total de pedidos: <strong>{{TOTAL_PEDIDOS}}</strong></p><br></div>
        </div>
        <p style='font-weight: bold;'>Seleccione la acción que desea realizar con el pedido.</p><br>
        <!-- para hacer la tabla responsive toca agregar la clase table-responsive a la etiqueta div-->
        <div>
            <table id="example" class="table table-bordered table-hover">
                <thead>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Fecha de pedido</th>
                    <th>Valor pedido</th>
                    <th>Acción</th>
                </thead>
                <tbody id="tabla-productos" align="center">
                    {{OPTION}}
                </tbody>
                <tfoot>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Fecha del pedido</th>
                    <th>Valor pedido</th>
                    <th>Acción</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- Este html muestra una ventana emergente con los detalles completos del pedido-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="frame-titulo"></h3>
            </div>
            <div class="modal-body">
                <iframe width="100%" frameborder="0" id="frame-url" src="" style="height: 400px;" __idm_frm__="721"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<!-- -->
<script>
    $(document).ready(function () {
        $(".boton-eliminar").on("click", function () {
            var id = $(this).attr("id");
            var res = confirm("¿Desea eliminar el pedido?");
            if (res) {
                realizarAjax(id);
            }
        });

        //funcion ajax para enviar el id del producto que se desea eliminar 
        function realizarAjax(id) {
            var datos = {
                "mode": "eliminar-pedido",
                "id": id
            };
            $.ajax({
                data: datos,
                url: "index.php",
                type: 'POST',
                //esta funncion se ejecuta cuando el php a terminado de procesar
                //con el resultado e inserta el resultado en algun elemento html
                success: function (response) {
                    window.location = "index.php?mode=ventas-realizadas";
                    console.log(response);
                },
                error: function (xhr, status, error) {
                }
            });

        }
    });

</script>