<script>
	$(document).ready(function () {

		var navListItems = $('div.setup-panel div button'),
			allWells = $('.setup-content'),
			allNextBtn = $('.nextBtn');

		allWells.hide();

		navListItems.click(function (e) {
			e.preventDefault();
			var $target = $($(this).attr('href')),
				$item = $(this);

			if (!$item.hasClass('disabled')) {
				navListItems.removeClass('btn-primary').addClass('btn-default');
				$item.addClass('btn-primary');
				allWells.hide();
				$target.show();
				$target.find('input:eq(0)').focus();
			}
		});

		allNextBtn.click(function () {
			var curStep = $(this).closest(".setup-content"),
				curStepBtn = curStep.attr("id"),
				nextStepWizard = $('div.setup-panel div button[href="#' + curStepBtn + '"]').parent().next().children("button"),
				curInputs = curStep.find("input[type='text'],input[type='url']"),
				isValid = true;
			$('body,html').animate({ scrollTop: 400 }, 500);

			$(".form-group").removeClass("has-error");
			for (var i = 0; i < curInputs.length; i++) {
				if (!curInputs[i].validity.valid) {
					isValid = false;
					$(curInputs[i]).closest(".form-group").addClass("has-error");
				}
			}

			if (isValid)
				nextStepWizard.removeAttr('disabled').trigger('click');
		});

		$('div.setup-panel div button.btn-primary').trigger('click');
	});

</script>


<script language="JavaScript">
	function uncheckRadio(rbutton) {
		rbutton.checked = (rbutton.checked) ? false : true;
	}

</script>
<link href='public/css/checkbox.css' rel='stylesheet' type='text/css' />
<div class="container banner">
	<section class="title-section">
		<h1 class="title-header">
			Agregar Nuevos Productos </h1>
		<ul class="breadcrumb breadcrumb__t">
			<li><a href="index.php">Inicio</a></li>
			<li class="active">Agregar Nuevos Productos </li>
		</ul>
	</section>
</div>
<div class='container contact'>

	<hr>
	<div class="container container-fixed">
		<div class="stepwizard">
			<div class="stepwizard-row setup-panel">
				<div class="stepwizard-step">
					<button href="#step-1" type="button" class="btn btn-primary btn-circle">1</button>
					<p>Información Del Producto</p>
				</div>

				<div class="stepwizard-step">
					<button href="#step-2" type="button" class="btn btn-default btn-circle" disabled>2</button>
					<p>Asociar Categoria</p>
				</div>

				<div class="stepwizard-step">
					<button href="#step-3" type="button" class="btn btn-default btn-circle" disabled>3</button>
					<p>Imagenes</p>
				</div>



			</div>
		</div>
		<hr>
	 <form action="index.php" method="post" enctype="multipart/form-data">
	 <input type="hidden" name="mode" value="subir-producto">
			<div class="row setup-content" id="step-1">
				<div class="col-xs-12">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<fieldset class="contentStyle">
									<legend class="titleStyle">Agregar Información Del Producto</legend>
									<div class="form-group">
										<div class="row">
											<div class="col-md-2"><label>Nombre del producto:</label></div>
											<div class="col-md-4"><input type="text" class="form-control" name="nombre"></div>
											<div class="col-md-2"><label>Referencia del producto:</label></div>
											<div class="col-md-4"><input type="text" class="form-control" name="referencia"></div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-2"><label>Precio:</label></div>
											<div class="col-md-4"><input type="number" name="precio" class="form-control"></div>
											<div class="col-md-3"><label>Cantidad de productos disponibles:</label></div>
											<div class="col-md-3"><input type="number" name="cant-disponibles" class="form-control"></div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-12"><label>Descripcion:</label></div>
											<div class="col-md-12"><textarea rows="6" class="form-control" placeholder="Escribe la descripcion del producto" name="descripcion"></textarea></div>

										</div>
										<br>

									</div>
								</fieldset>
								<br><br></div>
						</div>
						<button class="btn btn-danger nextBtn btn-lg pull-left" type="button">Cancelar &nbsp <img src="public/images/cerrar.png"></button>
						<button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente &rarr;</button>
						<br>
						<br>
						<br>
					</div>
				</div>
			</div>
			<!-- -->
			<div class="row setup-content" id="step-2">
				<div class="col-xs-12">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<fieldset class="contentStyle">
									<legend class="titleStyle">Asociar Categorias Al Producto</legend>
									<div class="form-group">
										<div class="row">
											<br>
											{{CHECKBOX}}
										</div>

									</div>
								</fieldset>
								<br><br></div>
						</div>
						<button class="btn btn-danger nextBtn btn-lg pull-left" type="button">Cancelar &nbsp <img src="public/images/cerrar.png"></button>
						<button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente &rarr;</button>
						<br>
						<br>
						<br>
					</div>
				</div>
			</div>
			<!-- -->

			<div class="row setup-content" id="step-3">
				<div class="col-xs-12">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<fieldset class="contentStyle">
									<legend class="titleStyle">Subir Imagenes</legend>
									<div class="form-group">
										<div class="row">
											<div class="col-md-2"><label>Subir imagen 1:</label></div>
											<div class="col-md-10"><input type="file" class="form-control" name="imagen1"><br></div>
											
										</div>
										<br>
									</div>
								</fieldset>
								<br><br></div>
						</div>
						<button class="btn btn-danger nextBtn btn-lg pull-left" type="button">Cancelar &nbsp <img src="public/images/cerrar.png"></button>
						<button onclick="comprobarConexion()" class="btn btn-primary btn-lg pull-right" type="submit">Guardar &nbsp <img src="public/images/save.png"></button>
						<br>
						<br>
						<br>
					</div>
				</div>
			</div>
	</div>
	</form>
</div>
</div>