<!-- incluir css de dataTables -->
<link href="public/css/jquery.dataTables.min.css">
<link href="public/css/datatables.css" type="text/css" rel="stylesheet">
<div class="container banner">
	<section class="title-section">
		<h1 class="title-header">
			Administrar Productos </h1>
		<ul class="breadcrumb breadcrumb__t">
			<li><a href="index.php">Inicio</a></li>
			<li class="active">Administrar Productos </li>
		</ul>
	</section>
</div>
<div class='container contact'>
<div class="main">
        <br>
        <div class="row">
        <div class="col-md-6"><p style='font-weight: bold;'>Total de productos: <strong>{{TOTAL_PRODUCTOS}}</strong></p><br></div>
        <div class="col-md-6" align="rigth"><a  href="index.php?mode=agregar-producto" class="btn btn-warning btn-lg pull-right">Nuevo Producto &nbsp<img src="public/images/add-blanco.png"></a></div>
        </div>
        <p style='font-weight: bold;'>Seleccione la acción que desea realizar con el producto.</p><br>
        <!-- para hacer la tabla responsive toca agregar la clase table-responsive a la etiqueta div-->
        <div>
            <table id="example" class="table table-bordered table-hover">
                <thead>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Cantidad Disponible</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Acción</th>
                </thead>
                <tbody id="tabla-productos" align="center">
                    {{OPTION}}
                </tbody>
                <tfoot>
                   <th>Id</th>
                    <th>Nombre</th>
                    <th>Cantidad Disponible</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Acción</th>
                </tfoot>
            </table>
        </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $(".boton-eliminar").on("click", function(){
            var id=$(this).attr("id");
            var res=confirm("¿Desea eliminar el producto?");
            if(res){
             realizarAjax(id);
            }
        });

        //funcion ajax para enviar el id del producto que se desea eliminar 
		function realizarAjax(id) {
            var datos={
                "mode":"eliminar-producto",
                "id":id
            };
			$.ajax({
				data: datos,
				url: "index.php",
				type: 'POST',
				//esta funncion se ejecuta cuando el php a terminado de procesar
				//con el resultado e inserta el resultado en algun elemento html
				success: function (response) {
					window.location="index.php?mode=consultar-productos";
				},
				error: function (xhr, status, error) {
				}
			});

		}
    });
</script>