<!DOCTYPE html>
<html>

<head>
    <title>{{TITULO}}</title>
    <link href="public/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <!-- Custom Theme files -->
    <link href="public/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="public/css/menu.css" rel='stylesheet' type='text/css'/>
    <link href="public/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>

    <!-- Custom Theme files -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
</head>

<body>
<!----- start-header---->
<div class="wrapper">
    <!----start-header---->
    <div class="header">
        <div class="container header_top">
            <div align="right">
            </div>
            <div class="logo">
                <a href="admin.php"><img src="public/images/logo.png" alt=""></a>

            </div>
            {{SESION}}
        </div>
        <!-- Este html muestra una ventana emergente con los detalles completos del pedido-->
<div id="ventanaComprobante" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="frame-titulo">Ver Comprobante De Pago</h3>
            </div>
            <div class="modal-body" id="ventana-ver-comprobante">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
        <!-- Contenido de la pagina web -->
        {{CONTENT}}
        <!--        -->
        <div class="container footer">
            <div class="footer_top">

            </div>
            <div class="footer_bottom">
                <div class="copy">
                    <p>Omar Contreras - omararturo15@hotmail.com</p>
                    <p>Gabriel Contreras- gabrielcontreras1426@gmail.com </p>
                    <p>Ender Ortega - enderortega18@gmail.com</p>
                </div>
                <ul class="social">
                    <div class="copy">
                        <div class="row">
                            <div class="col-md-8" align="right"><br>
                                <p><a href="http://www.ufps.edu.co" target="_blank"> Ing de sistemas. UFPS &copy;
                                    2017 </a></p>
                            </div>
                            <div class="col-md-4" align="right">
                                <p>
                                    <a href="http://www.ufps.edu.co" target="_blank"> <img class="img-responsive"
                                                                                           src="public/images/logo_ufps.png"/></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- importo la libreria de js con la funncionalidad de dataTable -->
<script type="text/javascript" src="public/js/jquery.dataTables.min.js"></script>
<!-- importo el archivo js con toda la configuracion del datatable -->
<script type="text/javascript" src="public/js/dataTable.js"></script>

<script src="public/js/easyResponsiveTabs.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });

    function verComprobanteNoti(id) {
       //ocultamos el popover
        $('#popoverNotificacion').popover('hide');
        var datos = {
            "mode": "ver-comprobante",
            "id": id
        };
        $.ajax({
            data: datos,
            url: "admin.php",
            type: 'POST',
            //esta funncion se ejecuta cuando el php a terminado de procesar
            //con el resultado e inserta el resultado en algun elemento html
            success: function (response) {
                var html='<div><img src="'+response+'" class="img-responsive"><br><div class="text-right"><button type="button" class="btn btn-success" onclick=validarComprobanteNoti('+id+',"check")>Aprobar Comprobante</button><button type="button" class="btn btn-danger"  onclick=validarComprobanteNoti('+id+',"eliminar")>Eliminar Comprobante</button></div></div>';
                
                $("#ventana-ver-comprobante").html(html);
            },
            error: function (xhr, status, error) {
            }
        });
     }

     function validarComprobanteNoti(id, accion){
         var datos = {
            "mode": "validar-comprobante",
            "id": id, 
            "accion": accion
        };
        $.ajax({
            data: datos,
            url: "admin.php",
            type: 'POST',
            //esta funncion se ejecuta cuando el php a terminado de procesar
            //con el resultado e inserta el resultado en algun elemento html
            beforeSend: function () {
                $("#ventana-ver-comprobante").html('<div class="windows8"><div class="wBall" id="wBall_1"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_2"> <div class="wInnerBall"></div></div><div class="wBall" id="wBall_3"> <div class="wInnerBall"></div></div><div class="wBall" id="wBall_4"> <div class="wInnerBall"></div></div><div class="wBall" id="wBall_5"> <div class="wInnerBall"></div></div></div><br>');
            },
            //esta funncion se ejecuta cuando el php a terminado de procesar
            //con el resultado e inserta el resultado en algun elemento html
            success: function (response) {
            alert("La operacion se realizo exitosamente.");
            if(accion=="check"){
             window.location="admin.php?mode=ventas-realizadas";   
            }else{
                window.location="admin.php?mode=ventas-progreso";
            }
            
            },
            error: function (xhr, status, error) {
            }
        });
    }
</script>

</body>

</html>