<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
              <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"> <img src="{{URL_IMG}}" alt=""></a>
               <h2>{{PRECIO}}</h2>
            <p>{{NOMBRE_PRODUCTO}}</p>
                <a href="index.php?mode=agregar-producto-al-carrito&id={{ID_PRODUCTO}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
            </div>
            <div class="product-overlay">
               <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"> <div class="overlay-content">
                  <h2>{{PRECIO}}</h2>
            <p>{{NOMBRE_PRODUCTO}}</p>
                    <a href="index.php?agregar-al-carrito&id={{ID_PRODUCTO}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                </div></a>
            </div>
        </div>

    </div>
</div>