<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
              <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"> <img src="{{URL_IMG}}" alt=""></a>
              <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"><h2>{{PRECIO}}</h2></a>
                 <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"><p>{{NOMBRE_PRODUCTO}}</p></a>
                  
            </div>
            <div class="product-overlay">
               <div class="overlay-content">
                 <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"><h2>{{PRECIO}}</h2></a>
                 <a href="index.php?mode=ver-producto&id={{ID_PRODUCTO}}"><p>{{NOMBRE_PRODUCTO}}</p></a>
                 {{FORM_CARRITO}}
                </div>
            </div>
        </div>

    </div>
</div>