<div class="col-sm-8">
    <div class="shop-menu pull-right">
        <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-user"></i>Mi Cuenta</a></li>
            <li><a href="index.php?mode=mis-compras"><i class="fa fa-crosshairs"></i> Mis compras</a></li>
            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Carrito </a></li>
            <li><a href="index.php?mode=cerrarSesion"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
        </ul>
    </div>
</div>