	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>TIENDA</span>-SOMAR</h1>
									<h2>LOS MEJORES PRODUCTOS DE LA CIUDAD</h2>
									<p>En nuestra tienda virtual encontraras los mejores productos con los mejores precios del mercado.</p>
									<a href="index.php?mode=productos-categoria&id=all" class="btn btn-default get">Comprar Ahora</a>
								</div>
								<div class="col-sm-6">
									<img src="public/images/slider1.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>TIENDA</span>-SOMAR</h1>
									<h2>PRECIOS DE LOCURA</h2>
									<p>En nuestra tienda virtual encontraras los mejores productos con los mejores precios del mercado.</p>
										<a href="index.php?mode=productos-categoria&id=all" type="button" class="btn btn-default get">Comprar Ahora</a>
								</div>
								<div class="col-sm-6">
									<img src="public/images/slider2.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>TIENDA</span>-SOMAR</h1>
									<h2>COMPRA DESDE LA COMIDAD DE TU CASA</h2>
									<p>En nuestra tienda virtual encontraras los mejores productos con los mejores precios del mercado.</p>
										<a href="index.php?mode=productos-categoria&id=all" type="button" class="btn btn-default get">Comprar Ahora</a>
								</div>
								<div class="col-sm-6">
									<img src="public/images/slider3.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<a href="index.php?mode=productos-categoria&id=all"><h2>Categorias</h2></a>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							{{CATEGORIAS_MENU_LEFT}}
						</div><!--/category-products-->
						
						<div class="shipping text-center"><!--shipping-->
							<img  class="img-responsive" src="public/images/banner-inicio.png" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">PRODUCTOS MÁS VENDIDOS</h2>
						{{PRODUCTOS_MAS_VENDIDOS}}
					</div><!--features_items-->
					
					
					<div class="features_items"><!-- -->
						<h2 class="title text-center">Productos Nuevos</h2>
						{{PRODUCTOS_NUEVOS}}
					</div><!-- -->
					
					
				</div>
			</div>
		</div>
	</section>