<section class="contenido">
    <!--form-->
    <div class="container">
        <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="index.php">Inicio</a></li>
				  <li class="active">Iniciar Sesión / Registrarse</li>
				</ol>
			</div>
        <!--- bloque de alertas -->
	<div class="alert alert-success alert-white rounded" style="display: none"  id="ventana-emergente-exito">
		<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
		<div class="icon">
			<img src="public/images/check.png" />
		</div>
		<strong>Exito!</strong> Se ha registrado el usuario con exito, Por favor inicie sesión.
	</div>
	<div class="alert alert-danger alert-white rounded" style="display: none" id="ventana-emergente-error">
		<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
		<div class="icon">
			<img src="public/images/cerrar.png" />
		</div>
		<strong>Error!</strong><span id="span-error"></span>
	</div>

	<!--- bloque de alertas -->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Iniciar Sesión</h2>
                    <form id="iniciar-sesion">
                        <input type="hidden" name="mode" value="login"/>
                        <input class="campos-form" id="form-login-email" type="text" name="username" placeholder="Usuario o E-mail"  required/>
                        <input class="campos-form" id="form-login-password" type="password" name="password" placeholder="Contraseña" required />
                        <div class="text-right"><a href="index.php?mode=recuperarClave">¿Olvidó su contraseña?</a></div>
                        <button type="submit" class="btn btn-default">Iniciar Sesión</button>
                    </form>
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">O</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>¡Registrate Ahora!</h2>
                    <form id="registrar-usuario">
                        <input type="hidden" name="mode" value="registrar-usuario" />
                        <input class="campos-form" id="form-username" type="text" placeholder="Nombre de usuario" name="username" required />
                        <input class="campos-form" type="text" placeholder="Nombres" name="nombres" required />
                        <input class="campos-form" type="text" placeholder="Apellidos" name="apellidos" required />
                        <input class="campos-form" type="number" placeholder="C.C" name="cc" required />
                        <input class="campos-form" type="text" placeholder="Dirección" name="direccion" />
                        <input class="campos-form" id="form-email" type="email" placeholder="E-mail" name="email"  required/>
                        <input class="campos-form" type="password" placeholder="Contraseña" name="password"  required/>
                        <button type="submit" class="btn btn-default">Registrarse</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
<script>
	//ESPACIO PARA COLOCAR EL CODIGO AJAX QUE ENVIE LOS ARCHIVOS
	//funcion para que se ejecute el script cuando termine de cargar
	$(document).ready(function () {

		cargarEventos();

		function cargarEventos() {
			//funcion para agregar el ajax al submit del formulario
			$("#iniciar-sesion").on("submit", function (e) {
				//previene que se envien los datos por la url
				e.preventDefault();
				var datos = new FormData(this);
				//var con la url del archivo php
				var url = "index.php";
				//llama a la funcion ajax
				iniciarSesion(datos, url);
			});

            $("#registrar-usuario").on("submit", function (e) {
				//previene que se envien los datos por la url
				e.preventDefault();
				var datos = new FormData(this);
				//var con la url del archivo php
				var url = "index.php";
				//llama a la funcion ajax
				registrarUsuario(datos, url);
			});
		}

        function borrarCampos(){
            $(".campos-form").each(function(){
                $(this).val("");
            });
        }

		//funcion para iniciar sesion
		function iniciarSesion(datos, url1) {
			var boton = null;
			$("#ventana-emergente-error").hide();
			$.ajax({
				data: datos,
				url: url1,
				type: 'POST',
				processData: false,
				contentType: false,
				//esta funncion se ejecuta cuando el php a terminado de procesar
				//con el resultado e inserta el resultado en algun elemento html
				success: function (response) {
                    console.log(response);
                    if(response){
                    window.location="index.php";
                    }else{
                     $("#span-error").text("La contraseña o el nombre del usuario son incorrectos.");
                      $("#ventana-emergente-error").show();
                      borrarCampos();
                      //ir hacia arriba en el scrollTop
                      $('html, body').animate({scrollTop:0}, 'slow')
                    }
				}
			});

		}

       //funcion para registrar usuario
       	function registrarUsuario(datos, url1) {
			var boton = null;
			$("#ventana-emergente-error").hide();
            $("#ventana-emergente-exito").hide();
			$.ajax({
				data: datos,
				url: url1,
				type: 'POST',
				processData: false,
				contentType: false,
				//esta funncion se ejecuta cuando el php a terminado de procesar
				//con el resultado e inserta el resultado en algun elemento html
				success: function (response) {
                    if(response){
                        $("#ventana-emergente-exito").show();
                        borrarCampos();
                    }else{
                     $("#span-error").text(" No se puede registrar porque el nombre de usuario o el E-mail ya se encuentran registrados.");
                      $("#ventana-emergente-error").show();
                      //borro los campos de username y email del formulario
                      $("#form-username").val("");
                      $("#form-email").val("");
                    }
                     //ir hacia arriba en el scrollTop
                    $('html, body').animate({scrollTop:0}, 'slow')
				}
			});

		}

	});

</script>