<script src="public/js/gallery-zoom.min.js"></script>
<link href="public/css/gallery-zoom.css" rel="stylesheet">
<section>
    <div class="container">
        <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="index.php">Inicio</a></li>
				  <li class="active">Detalle Producto</li>
				</ol>
			</div>
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <a href="index.php?mode=productos-categoria&id=all"><h2>Categorias</h2></a>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->

                        {{CATEGORIAS_MENU_LEFT}}
                    </div>
                    <!--/category-products-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img class="img-responsive" style="padding: 20px;" src="public/images/banner-inicio.png" alt="" />
                    </div>
                    <!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <!-- galeria de imagenes -->
                    <div  class="col-sm-5">

                        <div class="sp-wrap">
                            {{IMAGENES}}
                        </div>
                        <!-- /galeria de imagenes -->

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <div class="col-sm-12">
                                <h2>{{NOMBRE_PRODUCTO}}</h2>
                                <!-- plugin facebook-->
                                <div class="fb-like" data-href="{{URL_PAG}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{URL_PAG}}" data-text="Producto SOMAR: {{NOMBRE_PRODUCTO}} http://{{URL_PAG}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                                <script>(function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=115063061856169";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                                 <!-- //plugin facebook-->
                                <p>Referencia Del Producto: {{REFERENCIA}}</p>
                                <p><b>Stock:</b> {{CANT_DISPONIBLE}}</p><br>
                                <h1 style="color:#FF9800;">${{PRECIO}}</h1>


                            </div>
                            <div class="col-sm-12">           
                            {{FORM_CARRITO}}
                            </div>

                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#detalles" aria-expanded="true" data-toggle="tab">Descripción Del Producto</a></li>
                            <li><a href="#categorias" data-toggle="tab">Categorias Asociadas</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="detalles">
                            <div class="col-sm-6">
                                <p>{{DESCRIPCION}}</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="categorias">
                            <div class="col-sm-6">
                                {{CATEGORIAS}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/category-tab-->
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //activamos la galeria con las imagenes y su respectivo zoom
        $('.sp-wrap').smoothproducts();
    });
</script>