<div class="navigation">
    <a class="toggleMenu" href="#"><img src="public/images/nav_icon.png" alt=""/> </a>
    <ul class="navig">
        <li><a href="#" title="Comprobantes de pago subidos" id="popoverNotificacion" data-toggle="popover" data-placement="bottom"
               data-html="true"  data-content='<div class="list-group">{{HTML_NOTIFICACIONES}}</div>'><i class="fa fa-bell" aria-hidden="true"></i></a>{{BADGE NOTIFICACION}}</li>

        <li class="plan"><a href="#">Productos</a>
            <ul class="sub-nav">
                <li><a href="admin.php?mode=agregar-producto">Agregar</a></li>
                <li><a href="admin.php?mode=consultar-productos">Administrar</a></li>
            </ul>
        </li>
        <li class="plan"><a href="#">Categorias</a>
            <ul class="sub-nav">
                <li><a href="admin.php?mode=agregar-categoria">Agregar</a></li>
                <li><a href="admin.php?mode=consultar-categorias">Administrar</a></li>
            </ul>
        </li>
        <li class="plan"><a href="#">Ventas</a>
            <ul class="sub-nav">
                <li><a href="admin.php?mode=ventas-realizadas">Realizadas</a></li>
                <li><a href="admin.php?mode=ventas-progreso">En Progreso</a></li>
            </ul>
        </li>

        <li><a href="admin.php?mode=cerrarSesion"><img src="public/images/salir.png"/></a></li>
    </ul>
    <script type="text/javascript" src="public/js/responsive-nav.js"></script>
</div>