<link href='public/css/login.css' rel='stylesheet' type='text/css'/>
<link href='public/css/style.css' rel='stylesheet' type='text/css'/>
<div class="container banner">
    <section class="title-section">
        <h1 class="title-header">
            Recuperar Contreseña </h1>
        <ul class="breadcrumb breadcrumb__t">
            <li><a href="admin.php">Inicio</a></li>
            <li class="active">Recuperar Contraseña</li>
        </ul>
    </section>
</div>

<div class="container contact">

    <!-- contenido login   -->
    <div class="div-login">
        <div class="main">
<!--- bloque de alertas -->
	<div class="alert alert-success alert-white rounded" style="display: none" id="ventana-emergente-exito">
		<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
		<div class="icon">
			<img src="public/images/check.png" />
		</div>
		<strong>Exito!</strong> Se ha enviado a su correo la url para restablecer su contraseña
	</div>
	<div class="alert alert-danger alert-white rounded" style="display: none" id="ventana-emergente-error">
		<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
		<div class="icon">
			<img src="public/images/cerrar.png" />
		</div>
		<strong>Error!</strong><span id="span-error"> Hubo un inconveniente, el email ingresado no se encuentra registrado.</span>
	</div>

	<!--- bloque de alertas -->
            <form action="admin.php" id="recuperar-clave" method="post">
                <input type="hidden" name="mode" value="recuperar-clave">
                <div class="login-form">
                    <h2 class="color">¿Olvidaste tu contraseña?</h2>
                    <div class="agileits-top">
                        <label>Por favor ingresa la dirección de email que utilizaste
                            en el proceso de registro. Te enviaremos por email tu contraseña. </label>
                        <div class="styled-input">
                            <input type="text" name="email" required=""/>
                            <label>E-mail</label>
                            <span></span>
                        </div>
                    </div>
                    <div class="agileits-bottom">
                        <input type="submit" value="Enviar Correo">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
     $(".close").on("click", function () {
			ocultarMsgEmergente();
		});

        $("#recuperar-clave").on("submit", function (e) {
				//previene que se envien los datos por la url
				e.preventDefault();
				var datos = new FormData(this);
				//llama a la funcion ajax
				realizarAjax(datos);
			});

        function ocultarMsgEmergente(){
            $("#ventana-emergente-exito").hide();
			$("#ventana-emergente-error").hide();
        }
		function realizarAjax(datos){
      
			$.ajax({
				data: datos,
				url: "admin.php",
				type: 'POST',
                //es necesario colocarle estos 2 elementos al json para enviar informacion de un formulario
                processData: false,
                contentType: false,
				//esta funncion se ejecuta cuando el php a terminado de procesar
				//con el resultado e inserta el resultado en algun elemento html
				success: function (response) {
                    ocultarMsgEmergente();
					if(response){
                        $("#ventana-emergente-exito").show();
                    }else{
                        $("#ventana-emergente-error").show();
                    }
                   //ir hacia arriba en el scrollTop
                    $('html, body').animate({scrollTop:0}, 'slow')
				},
				error: function (xhr, status, error) {
				}
			});
		}
    });
</script>